body {
    margin: 0;
    color: #ffff;
}

.site-wrapper {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

/* App */

.app-wrapper {
    position: static;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #2e2e2e;
    padding-top: 66px;
}

.app-header {
    text-align: center;
}

.app-body {
    padding: 50px;
}

/* Button */

.btn {
    background-color: #578b85;
    border: none;
    padding: 7px;
    margin: 10px;
    color: white;
    cursor: pointer;
}
.btn:hover {
    background-color: #2a6666;
}

/* Link */

.sub-link {
    display: block;
    text-decoration: underline;
    margin: 5px;
    color: #578b85;
}
.sub-link:hover {
    color: #2a6666;
}

/* Div Tags */

.flex-row {
    display: flex;
}

/* Tooltip */

.tooltip {
    position: relative;
    display: inline-block;
    margin: 5px;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.box {
    width: 20px;
    height: 30px;
    margin:  0 5px 15px 5px;
    clear: both;
}

/* Select */

.react-select {
    color: black;
    margin-bottom: 10px;
}

.select-full {
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.select-fit {
    font-size: 20px;
    width: fit-content;
}

/* Table */

.table-wrapper {
    display: flex;
}

.table-wrapper table {
    padding: 0 20px 0 0;
    border-collapse: collapse;
}

.table-wrapper th {
    padding: 12px 10px;
    text-align: left;
    background-color: #3b8f8f;
}

.table-wrapper td, .table-wrapper th {
    border: 1px solid #ddd;
    padding: 8px;
}

.row-green {
    background-color: #04AA6D;
}
.row-dark-green {
    background-color: #027349;
}
.row-yellow {
    background-color: #c2b92b;
}
.row-red {
    background-color: #a64146;
}

.row-green.selected > td, .row-red.selected > td,
.row-dark-green.selected > td, .row-yellow.selected > td {
    border: 3px solid orange
}

.table-wrapper tbody tr:hover {
    background-color: #212121;
}

/* Notify Modal */

.notify-background {
    position: fixed;
    left: 0;
    top: 0;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 40px;

    z-index: 1000;
    background-color: white;
    color: #178033;
    overflow: auto;
}

/* Navbar */

.navbar-app {
    display: flex;
    background-color: #262626;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(150, 150, 150, 0.2), 0 6px 20px 0 rgba(88, 88, 88, 0.19);
}

.navbar-app ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-app li {
    display: inline-block;
    margin-left: 70px;
}

.navbar-link {
    display: block;
    text-decoration: none;
    color: white;
}

.navbar-logo {
    display: block;
    padding: 10px;
    text-decoration: none;
}

/* Login Page */

.login-page {
    margin: auto;
    text-align: center;
    width: 25%;
}

/* Forms */

.form-group {
    display: flex;
    flex-direction: column;
}

/* Device Page */

.device-page {
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}

.device-page > div {
    float: left;
    width: 30%;
    margin-right: 10px;
    padding: 15px;
}

.device-page-info {
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(94, 94, 94, 0.2), 0 6px 20px 0 rgba(109, 109, 109, 0.19);;
}

.device-page-info  h2 {
    margin: 0;
    display: table;
}

.device-page-info > div {
    display: flex;
}

.device-page-info > div > h3, .device-page-info > div > h4 {
    margin: 0;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 1.17em;
}

.device-page-info h4 {
    font-weight: normal;
}