:root {
    --color-shadow: #0a1a1c;
    --color-0: #0d2326;
    --color-1: #17242a;
    --color-2: #2b7a77;
    --color-3: #3aafa9;
    --color-4: #def2f1;
    --color-5: #ffffff;
    --color-text: white;
    --shadow-simple: var(--color-shadow) 0px 0px 25px;
}

body {
    margin: 0;
    padding: 0;
    color: var(--color-text);
    overflow: auto;
    height: 100vh;
    width: 100%;
    background-color: var(--color-1);
}

div#root {
    display: inline;
}

.site-wrapper {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

/* App */

.app-wrapper {
    position: relative;
    height: 100%;
    padding-top: 80px;
}

.app-header {
    text-align: center;
}

.app-body {
    height: 100%;
}

/* Animations */

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes slide-up {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes topBubbles {
    0%{
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
      50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
   100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }
  
  @keyframes bottomBubbles {
    0%{
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
   100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }

/* Button */

.btn {
    background-color: transparent;
    border: 1px solid var(--color-3);
    padding: 7px;
    color: var(--color-text);
    cursor: pointer;
    transition: background-color .2s, color .2s;
    text-decoration: none;
    height: fit-content;
}
.btn:hover {
    background-color: var(--color-4);
    color: var(--color-1);
}

.dropdown > button {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown > div {
    display: none;
    position: absolute;
    background-color: var(--color-2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation: fade-in .25s;
}
  
.dropdown > div a {
    color: var(--color-text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown > div a:hover {
    background-color: var(--color-3)
}
 
.dropdown:hover > div {
    display: block;
}

/* Div */

.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.add-gap {
    display: flex;
    gap: 5px;
}
.margin-top {
    margin: 5px 0;
}

/* Link */

.sub-link {
    display: block;
    text-decoration: underline;
    margin: 5px;
    color: var(--color-5);
}
.sub-link:hover {
    color: var(--color-4);
}

/* Div Tags */

.flex-row {
    display: flex;
}

/* Tooltip */

.tooltip {
    position: relative;
    display: inline-block;
    margin: 5px;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.box {
    width: 20px;
    height: 30px;
    margin:  0 5px 15px 5px;
    clear: both;
}

/* Select */

.react-select {
    color: black;
    margin-bottom: 10px;
}

.select-full {
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.select-fit {
    font-size: 20px;
    width: fit-content;
}

.site-select {
    width: 480px;
}

/* Table */

.table-wrapper {
    display: flex;
    width: fit-content;
}

.table-wrapper table {
    padding: 0 20px 0 0;
    border-collapse: collapse;
}

.table-wrapper th {
    text-align: left;
    background-color: var(--color-3);
}

.table-wrapper td, .table-wrapper th {
    border: 1px solid #ddd;
    padding: 8px 0;
    text-align: center;
}
.table-wrapper td {
    padding: 8px;
}

.table-wrapper tbody tr:nth-child(2n - 1) {
    background-color: var(--color-2);
}

.table-info {
    display: flex;
    margin-bottom: 5px;
}

.table-info p {
    margin: 0;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid var(--color-3);
}

/* Notify Modal */

.notify-background {
    position: fixed;
    left: 0;
    top: 0;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 40px;

    z-index: 1000;
    background-color: white;
    color: #178033;
    overflow: auto;
}

.pop-open {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 75px;
    height: 75px;
}

.pop-open button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--color-3);
    transition: transform .2s;
}
.pop-open button:hover {
    transform: scale(1.1);
}

.pop-open i {
    font-size: 3vw;
}

/* Navbar */

.navbar-app {
    display: flex;
    background-color: var(--color-1);
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}

.navbar-app ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-app li {
    display: inline-block;
    margin-left: 70px;
}

.navbar-link {
    display: block;
    text-decoration: none;
    color: white;
    padding: 16px;
}

.navbar-link.active {
    border-bottom: 1px solid var(--color-5);
}

.navbar-logo {
    display: block;
    padding: 10px;
    text-decoration: none;
}

/* Login Page */

.login-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page-form {
    width: 400px;
    height: 450px;
    border: 1px solid var(--color-4);
    background-color: var(--color-2);
    animation: 1s ease-out 0s 1 fade-in, 1s ease-out 0s 1 slide-up;
    box-shadow: var(--color-shadow) 0px 0px 25px;
}

.login-page h1 {
    animation-fill-mode: forwards;
    animation: 2s ease-out 0s 1 fade-in, 1.5s ease-out 0s 1 slide-up;
}

/* Forms */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.form > div {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.form > .form-group {
    position: relative;
    width: 80%;
    padding: 15px 0 0;
    margin-top: 10px;
}
.form > .form-group > input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--color-3);
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
}
.form > .form-group > input::placeholder {
    color: transparent;
}
.form > .form-group > input:placeholder-shown ~ label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}
.form > .form-group > label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--color-text);
}
.form > .form-group > input:focus {
    padding-bottom: 6px;  
    border-width: 3px;
    border-image-slice: 1;
}
.form > .form-group > input:focus + label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.3s;
    font-size: 0.8rem;
    color: var(--color-4);
    font-weight:700;
}
.form-buttons {
    width: 30%;
    text-align: center;
}

/* Device Page */

.device-page {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    width: 95%;
    height: 95%;
}

.device-page-info {
    border: 1px solid gray;
    box-shadow: 0 4px 8px 0 rgba(94, 94, 94, 0.2), 0 6px 20px 0 rgba(109, 109, 109, 0.19);;
}

.device-page-info  h2 {
    margin: 0;
    display: table;
}

.device-page-info > div {
    display: flex;
}

.device-page-info > div > h3, .device-page-info > div > h4 {
    margin: 0;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 1.17em;
}

.device-page-info h4 {
    font-weight: normal;
}

/* Report Page */

.report-page {
    padding: 10px;
    width: 95%;
    height: 95%;
}

/* Modal */

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.modal-content {
    position: relative;
    background-color: var(--color-2);
    width: fit-content;
    margin: auto;
    padding: 45px 40px 20px 20px;
    animation: fade-in 1.5s;
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Downloads Page */

.download-page {
    width: 95%;
    height: 95%;
    padding: 10px;
    margin: auto;
}

.file-tree {
    padding: 0;
}

.file-tree div {
    display: flex;
}

.file-tree li {
    display: block;
    border: 1px solid var(--color-4);
    margin: 5px;
    padding: 5px;
    width: 400px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--color-2);
    transition: transform .2s;
}
.file-tree li:hover {
    transform: scale(1.05);
}

.file-tree li i {
    width: 15px;
    padding-right: 10px;
}

.file-tree-buttons {
    display: flex;
    margin: 15px 0;
    gap: 5px;
}

.file-tree-path button, .file-tree button {
    position: relative;
    background-color: transparent;
    border: none;
    color: var(--color-5);
    padding: 0;
    margin: 0;
    margin-left: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
.file-tree-path button:hover {
    color: var(--color-3);
}

.file-tree button {
    margin-left: 15px;
    transition: all 5s;
}
.file-tree button:hover {
    transition: transform .2s, color 5s;
    transform: scale(1.5);
}
.file-tree button:active {
    transition: color .001s;
    color: var(--color-3);
}
.file-tree button:visited {
    color: var(--color-5);
}