body {
    margin: 0;
    color: #ffff;
}

.site-wrapper {
    display: flex;
    flex-flow: column;
}

/* App */

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2e2e2e;
    margin-top: 66px;
}

.app-header {
    text-align: center;
}

.app-body {
    padding: 50px;
}

.site-name-select {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Table */

.table-wrapper {
    display: flex;
    padding: 20px 0;
}

.table-wrapper table {
    padding: 0 20px 0 0;
    border-collapse: collapse;
}

.table-wrapper th {
    padding: 12px 10px;
    text-align: left;
    background-color: #3b8f8f;
}

.table-wrapper td, .table-wrapper th {
    border: 1px solid #ddd;
    padding: 8px;
}

.row-green {
    background-color: #04AA6D;
}
.row-red {
    background-color: #a64146;
}

.table-wrapper tbody tr:hover {
    background-color: #212121;
}

/* Notify Modal */

.notify-background {
    position: fixed;
    left: 0;
    top: 0;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 40px;

    z-index: 1000;
    background-color: white;
    color: #178033;
    overflow: auto;
}

/* Navbar */

.navbar-app {
    display: flex;
    background-color: #262626;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(150, 150, 150, 0.2), 0 6px 20px 0 rgba(88, 88, 88, 0.19);
}

.navbar-app ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-app li {
    display: inline-block;
    margin-left: 70px;
}

.navbar-link {
    display: block;
    text-decoration: none;
    color: white;
}

.navbar-logo {
    display: block;
    padding: 10px;
    text-decoration: none;
}

/* Login Page */

.login-page {
    margin: auto;
    text-align: center;
    width: 25%;
}

/* Forms */

.form-group {
    display: flex;
    flex-direction: column;
}