.inventory-page {
    display: flex;
    width: 95%;
    height: 95%;
    margin: auto;
}

.inventory-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    width: 150px;
    height: 100%;
    margin: 0;
    border: 3px solid var(--color-2);
    overflow: hidden;
    white-space: nowrap;
}

.inventory-data {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    padding-left: 20px;
}

.inventory-header {
    display: flex;
    margin-left: auto;
    gap: 5px;
}
.inventory-header p {
    margin: auto;
}

.inventory-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inventory-category {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-2);
    padding: 10px;
    cursor: pointer;
}

.inventory-category-header {
    display: grid;
    grid-template-columns: 50% 40% 40%;
}

.inventory-category-header > p {
    padding: 7px;
}

.inventory-category-header button {
    width: fit-content;
}

.inventory-items {
    display: none;
    flex-direction: column;
    margin-top: 10px;
}

.inventory-items.selected {
    display: block;
}

.inventory-items-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inventory-items-item {
    display: flex;
    flex-direction: column;
}
.inventory-items-item .flex.add-gap {
    padding: 0;
    justify-content: space-between;
}
.inventory-items-item .flex.add-gap button {
    width: 50%;
}
.inventory-items-item .flex.add-gap input {
    width: 10%;
    margin: auto 0;
    text-align: center;
}

.inventory-item-header {
    display: grid;
    border: 1px solid var(--color-2);
    padding: 10px;
    margin-left: 30px;
    grid-template-columns: 47% 49% 25%;
}

.inventory-item-display {
    display: none;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.inventory-item-display.selected {
    display: flex;
}

.inventory-item-display-info {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--color-2);
    padding: 10px;
    margin-left: 60px;
}

.checkout-form {
    width: fit-content;
    height: fit-content;
}

.checkout-form > div {
    width: 300px;
}

.checkout-form h2 {
    font-size: 20px;
}

.checkout-list-container {
    height: 200px;
    overflow: auto;
}

.checkout-form .checkout-list-category, .category-notes .checkout-list-category {
    display: flex;
    flex-direction: column;
}

.checkout-form .checkout-list-item, .category-notes .checkout-list-item {
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.checkout-form .checkout-list-item p, .category-notes .checkout-list-item p {
    word-wrap: break-word;
}

.checkout-form textarea {
    height: 200px;
    resize: none;
}

.category-notes {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    overflow: auto;
    gap: 10px;
    height: 80vh;
    width: 90vw;
}

.category-notes > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--color-3);
    padding: 10px;
    height: fit-content;
}

.category-notes h2 {
    padding-top: 0;
    margin-top: 0;
}

.category-notes label {
    font-weight: bold;
}

.category-reason textarea {
    height: 100px;
    width: 100%;
    overflow: auto;
    word-wrap: break-word;
    resize: none;
    border: none;
    background-color: var(--color-2);
    color: var(--color-5);
}

.category-items > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 200px;
    overflow: auto;
}

.category-notes .checkout-list-item.header {
    margin-bottom: 10px;
}