.inv-admin {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
    margin: auto auto;
    padding: 20px 50px;
    padding-right: 0;
    padding-top: 0;
    background-color: var(--color-2);
}

.inv-admin-h {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}

.inv-admin-h .btn {
    margin-top: auto;
}

.inv-admin-b {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
}

.inv-admin-h .search-bar {
    width: 15%;
}

.inv-admin-cat, .inv-admin-data {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
}

.inv-admin-cat-h, .inv-admin-data-h {
    display: flex;
    gap: 20px;
    padding: 10px;
    border: 1px solid var(--color-3);
}

.inv-admin-cat-h p, .inv-admin-data-h p {
    margin: auto;
    font-size: 1.3rem;
}

.inv-admin-cat-b, .inv-admin-data-b {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid var(--color-3);
    justify-content: space-between;
}

.inv-admin-cat-b-list {
    display: flex;
    flex-direction: column;
}

.inv-admin-cat-b-list-item {
    padding: 10px;
    border: 1px solid var(--color-3);
    border-width: 1px 0;
    text-align: center;
    cursor: pointer;
}
.inv-admin-cat-b-list-item:hover {
    background-color: var(--color-3);
}
.inv-admin-cat-b-list-item.selected {
    background-color: var(--color-2);
}

.inv-admin-cat-b-btn {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.inv-admin-data {
    width: 65%;
}

.inv-admin-data-b > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px;
}

.inv-admin-data-b > div > .input {
    width: 40%;
}

.inv-admin-data-row {
    display: flex;
    gap: 40px;
}
.inv-admin-data-row > .input {
    width: 40%;
}

.inv {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
    margin: auto auto;
}

.inv-h {
    display: flex;
    gap: 20px;
}

.inv-add {
    margin-top: auto;
}

.inv-b {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 80vh;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.inv-b-cats {
    background-color: var(--color-2);
    overflow: hidden;
}

.inv-b-checkout {
    border: 1px solid var(--color-2);
}

.inv-b-cats {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    overflow-y: auto;
}

.inv-b-cats-cat {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-3);
    box-shadow: var(--shadow);
}

.inv-b-cats-cat-h {
    display: flex;
    padding: 10px 25px;
    justify-content: space-between;
    cursor: pointer;
}

.inv-b-cats-cat-h-btn {
    display: flex;
    gap: 10px;
    margin: auto 0;
}

.inv-b-cats-cat-b {
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: 1000px;
    overflow: hidden;
    transition: all .5s;
}
.inv-b-cats-cat-b.hidden {
    max-height: 0;
    margin: 0;
    color: transparent;
}

.inv-b-cats-cat-item, .inv-b-cats-cat-item-list-item {
    position: relative;
    padding: 10px;
    margin: 10px 30px;
    height: 65px;
    border: 1px solid var(--color-3);
    box-shadow: var(--shadow);
    font-size: 1.4rem;
}

.inv-b-cats-cat-item-list {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    max-height: 1000px;
    overflow: hidden;
    transition: all .5s;
}
.inv-b-cats-cat-item-list.hidden {
    max-height: 0;
    color: transparent;
}

.inv-b-cats-cat-item-list-item {
    position: relative;
    height: 65px;
}

.inv-b-cats-cat-item-topleft {
    position: absolute;
    top: 8px;
    left: 8px;
}

.inv-b-cats-cat-item-topright {
    position: absolute;
    top: 8px;
    right: 8px;
}

.inv-b-cats-cat-item-botleft {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.inv-b-cats-cat-item-botright {
    position: absolute;
    bottom: 8px;
    right: 8px;
}